.footer
    .footer-background
        p SOCAL MARKETING & ANALYTICS
        h2 Take control of your data
        +button('Get Started')
        +button('Explore features')      
    .footer__logo
        img(src="img/logo.svg", alt="Logo")
        h2.fm MISOCIAL
    .footer-nav-menu
        ul
            li
                a(href="") Home
            li
                a(href="") why MISOCIAL
            li
                a(href="") Features
            li
                a(href="") Articles
            li
                a(href="") Pricing
            li
                +button('Get Started')


p.original © 2017 Mass Impressions & Tranmautritam. Make the right impression.

.img
    img(src="img/facebook logo", alt="")
    img(src="img/twitter-logo", alt="")
    img(src="img/google logo", alt="")
    img(src="img/instagram logo", alt="")