include mixins

.header-line
    .hbgc
        .head-wrapper
            .d-flex 
                .header-line__logo
                    img(src="img/logo.svg", alt="Logo") 
                    h2 MISOCIAL
                .header-nav-menu
                    ul
                        li
                            a(href="") Home
                        li
                            a(href="") why MISOCIAL
                        li
                            a(href="") Features
                        li
                                a(href="") Articles
                        li
                            a(href="") Pricing
                        li
                            +button('Get Started')

            
        .wrapper.flex-wrapper
            .header-line-title
                .social-part
                    p SOCIAL MARKETING & ANALYTICS
                h2 Pricing Table
                p.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            
